# vim: set ts=4 sts=4 sw=4 et:

server {
	listen 80;
	server_name .{{tatowiki_domain}};

	access_log	{{tatowiki_basedir}}/log/access.log;
	error_log	{{tatowiki_basedir}}/log/error.log;

	location / {
		proxy_pass http://127.0.0.1:8081;
		proxy_set_header Host $http_host;
	}
}
